---
import "../styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
import Layout from "../layouts/Layout.astro";
import TodoList from "@/components/Page";
import AddTask from "@/components/AddTask";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Layout title="EverEarlier">
  <main>
    <div class="p-4">
      <h2 class="text-2xl font-bold tracking-tight">EverEarlier</h2>
      <p class="text-lg text-muted-foreground">Let's crush some tasks!</p>
    </div>

    <div class="fixed top-0 right-0 z-39 p-4">
      <ModeToggle client:idle />
    </div>
    <TodoList client:load />
    <AddTask client:load />
  </main>

  <style>
    main {
      margin: auto;
      width: 800px;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
